.not-found {
    text-align: center;
    h1 {
        font-size: 1.563rem;
        margin-bottom: 25px;
    }
    margin-top: 20vh;
    a {
        color: #1906f5;
        text-decoration: underline;
    }
}
